---
import ArticleCard from "@components/ArticleCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Frontmatter } from "src/misc";
import Swiper from "@components/Swiper";

const allPosts = await Astro.glob<Frontmatter>("../pages/blog/articles/*.md");
const posts = allPosts.filter((post) => post.frontmatter.draft != true);
---

<BaseLayout title="World" activeLink="home">
    <section
        class="flex flex-col sm:flex-row justify-center max-w-[90%] w-[52rem] mx-auto gap-12 mb-20"
    >
        <style>
            .typing-animation {
                overflow: hidden;
                white-space: nowrap;
                width: 0;
                animation: typing 2.5s steps(14) forwards;
            }

            @keyframes typing {
                0% {
                    width: 0;
                }
                100% {
                    width: 100%;
                }
            }
        </style>

        <div class="flex flex-col flex-wrap flex-grow-1">
            <h1
                class="text-center bg-gradient-to-r from-sky-400 to-indigo-900 bg-clip-text text-transparent text-7xl mb-[0.7em]"
            >
                Solo Adventurer
            </h1>
            <h2
                class="typing-animation text-center bg-gradient-to-r from-sky-400 to-indigo-900 bg-clip-text text-transparent text-4xl mb-[0.7em]"
            >
                The World Is Waiting For You 👋
            </h2>
        </div>
    </section>
    <section class="mb-10">
        <style>
            .paragraph-margin {
                margin-top: 1.5em; /* Adjust the margin value as per your preference */
            }
        </style>

        <p class="text-center text-xxl mt-[0.7em]">
            <span
                class="bg-gradient-to-r from-sky-400 to-indigo-400 bg-clip-text text-transparent text-xxl mb-[0.7em] font-bold"
                >Solo is a choice, but adventure is an attitude.</span
            >
            It is an opportunity to discover not only new destinations but also the
            depths of your own being. Let the winds of curiosity guide you as you
            set foot on the path less traveled.
        </p>
    </section>

    <section
        class="flex flex-col sm:flex-row justify-center max-w-[90%] w-[52rem] mx-auto gap-12 mb-40"
    >
        <p class="text-center text-xxl mb-[0.7em] paragraph-margin">
            Open your eyes to the beauty of this world, experience the kindness
            of fellow human beings, and savor the precious moments of everyday
            life.
        </p>
    </section>

    <section class="home-page-section">
        <div class="container">
            <h2
                class="mx-auto mb-8 bg-gradient-orange text-transparent bg-clip-text text-5xl border-b-2 border-red-300 font-semibold w-fit"
            >
                GALLERY
            </h2>
            <Swiper client:load />
            <h1 class="section-title">Explore the world</h1>
            <p class="section-description">
                Embark on a visual journey through captivating destinations
                across continents. Browse through my collection of favorite
                travel photos, capturing the most memorable moments from my
                adventures in Asia, Europe, Africa, and America. Click on an
                image or the bullet point to explore more and start planning
                your next adventure
            </p>
            <ul class="timeline-list">
                <li>
                    <a
                        href="https://hsqlfs-3000.csb.app/blog/articles/Asia/"
                        class="timeline-link"
                    >
                        <span class="bullet-point">&#9992;</span>
                        Asia
                    </a>
                </li>
                <li>
                    <a
                        href="https://hsqlfs-3000.csb.app/blog/articles/Europe/"
                        class="timeline-link"
                    >
                        <span class="bullet-point">&#9992;</span>
                        Europe
                    </a>
                </li>
                <li>
                    <a
                        href="https://hsqlfs-3000.csb.app/blog/articles/Africa/"
                        class="timeline-link"
                    >
                        <span class="bullet-point">&#9992;</span>
                        Africa
                    </a>
                </li>
                <li>
                    <a
                        href="https://hsqlfs-3000.csb.app/blog/articles/America/"
                        class="timeline-link"
                    >
                        <span class="bullet-point">&#9992;</span>
                        America
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="home-page-section2">
        <div class="container2">
            <h1 class="section-title2">Meet new friends</h1>
            <div class="flex flex-row space-x-4 mb-4">
                {
                    posts
                        .slice(4, 7)
                        .map((post) => <ArticleCard content={post} />)
                }
            </div>
            <p class="section-description2">
                Connect with fellow travelers, expand your social circle, and
                create lasting memories by meeting new friends along your
                journey
            </p>
        </div>
    </section>

    <section class="home-page-section3">
        <div class="container3">
            <h1 class="section-title3">Just for you</h1>

            <div class="flex flex-row space-x-4 mb-4">
                {
                    posts
                        .slice(7, 9)
                        .map((post) => <ArticleCard content={post} />)
                }
                <p class="section-description3">
                    While these pages are currently under development, we're
                    eagerly preparing a collection of exclusive deals and
                    unforgettable events to enhance your travel experiences
                </p>
            </div>
        </div>

        <style>
            .home-page-section {
                background-color: rgba(207, 223, 244, 0.5);
                padding: 50px 0;
            }

            .container {
                max-width: 960px;
                margin: 0 auto;
                padding: 0 20px;
            }

            .section-title {
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .section-description {
                font-size: 1.2rem;
                line-height: 1.5;
            }
            .timeline-list {
                list-style: none;
                padding: 0;
                margin-top: 20px; /* Adjust margin-top as needed */
            }

            .timeline-link {
                display: flex;
                align-items: center;
                color: #000;
                text-decoration: none;
                margin-bottom: 10px;
            }

            .bullet-point {
                margin-right: 10px;
                font-size: 1.2em;
            }
            .home-page-section2 {
                background: rgba(173, 198, 231, 0.5);
                padding: 50px 0;
            }

            .container2 {
                max-width: 960px;
                margin: 0 auto;
                padding: 0 20px;
            }

            .section-title2 {
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 20px;
                text-align: right;
            }

            .section-description2 {
                font-size: 1.2rem;
                line-height: 1.5;
            }

            .home-page-section3 {
                background: rgba(134, 174, 232, 0.5);
                padding: 50px 0;
            }

            .container3 {
                max-width: 960px;
                margin: 0 auto;
                padding: 0 20px;
            }

            .section-title3 {
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 20px;
                text-align: left;
            }

            .section-description3 {
                font-size: 1.2rem;
                line-height: 1.5;
            }
        </style>
    </section>
    <div class="flex flex-wrap justify-center gap-5 mt-4">
        <a
            class="w-8 h-8 flex scale-1 hover:scale-125 transition-[scale] justify-center"
            href="https://www.youtube.com/@cathyxia"
            target="_blank"
            rel="noreferrer noopener"
        >
            <span class="sr-only">Link to my YouTube channel</span>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
                fill="#c4302b"
            >
                <path
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
                ></path></svg
            >
        </a>
        <a
            class="w-8 h-8 flex scale-1 hover:scale-125 transition-[scale] justify-center"
            href="https://www.instagram.com/_cathy_xia/"
            target="_blank"
            rel="noreferrer noopener"
        >
            <span class="sr-only">Link to my instagram</span>
            <img src="/images/instagram.png" alt="Icon" />
        </a>
        <a
            class="w-8 h-8 flex scale-1 hover:scale-125 transition-[scale] justify-center"
            href="https://www.linkedin.com/in/cathyxia07/"
            target="_blank"
            rel="noreferrer noopener"
        >
            <span class="sr-only">Link to my LinkedIn</span>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                fill="#0e76a8"
            >
                <path
                    d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
                ></path></svg
            >
        </a>
    </div>
</BaseLayout>
