---
import ArticleCard from "@components/ArticleCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Frontmatter, sortDateDescending } from "src/misc";

const allPosts = await Astro.glob<Frontmatter>("../pages/blog/articles/*.md");
const posts = sortDateDescending(
	allPosts.filter((post) => post.frontmatter.draft != true)
).slice(0, 3);
---

<BaseLayout title="Home" activeLink="home">
	<section
		class="flex flex-col sm:flex-row justify-center max-w-[90%] w-[52rem] mx-auto gap-12 mb-48"
	>
		<img
			width="200"
			height="200"
			src="images/LSE ACS logo.jpg"
			alt="avatar"
			class="rounded-md h-fit self-center justify-self-center"
		/>
		<div class="flex flex-col flex-wrap flex-grow">
			<h1
				class="text-center bg-gradient-to-r from-yellow-500 to-yellow-900 bg-clip-text text-transparent text-5xl mb-[0.7em]"
			>
				Welcome to the<b> LSE</b> African and Caribbean society!
			</h1>
			<p class="text-center pb-9s">
				Celebrating students of African and Caribbean descent at London
				School of Economics and Political science.
			</p>
			<p>
				Winners of LSE SU Gold star award and the 2023 Society of the
				year, We are dedicated to creating a culture of community,
				diversity and inclusivity. Hence our mission is not only to
				enhance the experiences of current students by helping to
				navigate challenging spheres but also to promote and encourage
				incoming students through outreach and workshops targeting
				towards increasing their motivation and growth mindset.
			</p>
			<div class="flex flex-wrap justify-center gap-6 mt-4">
				<a
					class="w-8 h-8 flex scale-1 hover:scale-125 transition-[scale] justify-center"
					href="https://www.tiktok.com/@lsesu.acs?_t=8Vx34e93Aaj&_r=1"
					target="_blank"
					rel="noreferrer noopener"
				>
					<span class="sr-only">Link to my YouTube channel</span>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 576 512"
						fill="#c4302b"
					>
						<path
							d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
						></path></svg
					>
				</a>
				<a
					class="w-8 h-8 flex scale-1 hover:scale-125 transition-[scale] justify-center"
					href="https://twitter.com/LSESUACS"
					target="_blank"
					rel="noreferrer noopener"
				>
					<span class="sr-only">Link to my Twitter</span>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
						fill="#00acee"
					>
						<path
							d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
						></path></svg
					>
				</a>
				<a
					class="w-8 h-8 flex scale-1 hover:scale-125 transition-[scale] justify-center"
					href="https://www.instagram.com/lsesu.acs/?hl=en"
					target="_blank"
					rel="noreferrer noopener"
				>
					<span class="sr-only">Link to my Instagram</span>
					<svg:></svg:></a
				>
			</div>
		</div>
	</section>
</BaseLayout>

<section>
	<h2
		class="mx-auto text-center mb-8 bg-gradient-orange text-transparent bg-clip-text text-4xl border-b-2 border-red-300 font-semibold w-fit"
	>
		<a
			href="mailto:yourmailinglist@example.com"
			target="_blank"
			style="display: block; text-align: center; font-size: 24px; color: brown; text-decoration: underline;"
			>Join Our Mailing List</a
		>

		<div class="flex flex-wrap flex-col justify-center gap-12">
			{posts.map((post) => <ArticleCard content={post} />)}
		</div>
	</h2>
</section>
