---
import ArticleCard from "@components/ArticleCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { moveCursor } from "readline";
import { Frontmatter, sortDateDescending } from "src/misc";

const allPosts = await Astro.glob<Frontmatter>("../pages/blog/articles/*.md");
const posts = sortDateDescending(
	allPosts.filter((post) => post.frontmatter.draft != true)
).slice(0, 3);
---

<BaseLayout title="Home" activeLink="home">
	<section
		class="flex flex-col sm:flex-row justify-center max-w-[90%] w-[52rem] mx-auto gap-12 mb-48"
	>
		<img
			width="200"
			height="200" 
			src="images/Hijabi Tutors.png"
			alt="avatar"
			class="rounded-md h-fit self-center justify-self-center"
		/>
		<div class="flex flex-col flex-wrap flex-grow">
			<h1
				class="text-center bg-gradient-to-r from-teal-400 to-green-500 bg-clip-text text-transparent text-5xl mb-[0.7em]"
			>
				Welcome to <span class="font-bold">HijabiTutor</span>
			</h1>
			<p class="text-center color text-teal-700">
				Primary, GCSE and A-level Mathematics and Economics Resources
				and Tuition available for affordable prices.
			</p>
			<div class="flex flex-wrap justify-center gap-5 mt-4">
				<a
					class="w-8 h-8 flex scale-1 hover:scale-125 transition-[scale] justify-center"
					href="https://www.youtube.com/"
					target="_blank"
					rel="noreferrer noopener"
				>
					<span class="sr-only">Link to my YouTube channel</span>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 576 512"
						fill="#c4302b"
					>
						<path
							d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
						></path></svg
					>
				</a>
				<a
					class="w-8 h-8 flex scale-1 hover:scale-125 transition-[scale] justify-center"
					href="https://www.instagram.com/"
					target="_blank"
					rel="noreferrer noopener"
				>
					<span class="sr-only">Link to my instagram</span>
					<img src="/images/ig.png" />
				</a>
				<a
					class="w-8 h-8 flex scale-1 hover:scale-125 transition-[scale] justify-center"
					href="https://www.linkedin.com/"
					target="_blank"
					rel="noreferrer noopener"
				>
					<span class="sr-only">Link to my LinkedIn</span>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 448 512"
						fill="#0e76a8"
					>
						<path
							d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
						></path></svg
					>
				</a>
			</div>
			<div class="flex justify-center mt-10">
				<a href="/pages/Schedule a class" class="rounded-full bg-teal-100 p-2"
					>Schedule a free class</a
				>

				<a href="/pages/notes shop" class="rounded-full ml-5 bg-teal-100 p-2"
					>Notes Shop</a
				>
			</div>
		</div>
	</section>

	<section>
		<h2
			class="mx-auto text-center mb-8 bg-teal-400 text-transparent bg-clip-text text-4xl border-b-2 border-teal-600-300 font-semibold w-fit"
		>
			Explore Further
		</h2>

		<div class="flex flex-wrap flex-col justify-center gap-12">
			{posts.map((post) => <ArticleCard content={post} />)}
		</div>
	</section>
</BaseLayout>
