---
import { Frontmatter } from "src/misc";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  content: Frontmatter;
}

const { content } = Astro.props as Props;
const { title, image, imageDescription, description } = content;
---

<BaseLayout title={title} description={description}>
  <h1
    class="text-3xl md:text-5xl 2xl:text-6xl mb-[0.8em] font-extrabold mx-auto w-fit"
  >
    {title}
  </h1>
  {
    image ? (
      <Fragment>
        <img
          class="w-10/12 mx-auto"
          src={image}
          alt={imageDescription ?? title}
        />
      </Fragment>
    ) : null
  }
</BaseLayout>

<div class="prose md:prose-lg 2xl:prose-xl px-4 mx-auto prose-pre:font-mono">
  <slot />
</div>
